[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/vendor/start/ale"]
	path = vim/.vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/vendor/start/jedi-vim"]
	path = vim/.vim/pack/vendor/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/.vim/pack/vendor/start/ctrlp.vim"]
	path = vim/.vim/pack/vendor/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/vendor/start/lh-brackets"]
	path = vim/.vim/pack/vendor/start/lh-brackets
	url = git@github.com:LucHermitte/lh-brackets.git
[submodule "vim/.vim/pack/vendor/start/lh-vim-lib"]
	path = vim/.vim/pack/vendor/start/lh-vim-lib
	url = git@github.com:LucHermitte/lh-vim-lib.git
[submodule "vim/.vim/pack/vendor/start/mru"]
	path = vim/.vim/pack/vendor/start/mru
	url = https://github.com/yegappan/mru
[submodule "vim/.vim/pack/vendor/start/vim-argwrap"]
	path = vim/.vim/pack/vendor/start/vim-argwrap
	url = git@github.com:FooSoft/vim-argwrap.git
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/.vim/pack/vendor/start/lightline.vim"]
	path = vim/.vim/pack/vendor/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.vim/pack/vendor/start/vim-gitgutter"]
	path = vim/.vim/pack/vendor/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
