[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/.vim/pack/vendor/start/ale"]
	path = vim/.vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/.vim/pack/vendor/start/ctrlp.vim"]
	path = vim/.vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/pack/vendor/start/mru"]
	path = vim/.vim/pack/vendor/start/mru
	url = https://github.com/yegappan/mru
[submodule "vim/.vim/pack/vendor/start/vim-argwrap"]
	path = vim/.vim/pack/vendor/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/.vim/pack/vendor/start/lightline.vim"]
	path = vim/.vim/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/pack/vendor/start/vim-gitgutter"]
	path = vim/.vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pyenv/.pyenv"]
	path = pyenv/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "pyenv-virtualenv/pyenv-virtualenv"]
	path = pyenv-virtualenv/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
